 .sidebar-parent-component {
   height: 100vh;
   background: #000;
   color: #fff;
   position: relative;
   padding-top: 0.5rem;
   text-align: center;
}
.vybes-logo{
  font-size: 26px;
  font-weight: bold;
}
.profile{
  /* position: relative; */
  cursor: pointer;
}
.profile-img{
  pointer :cursor;
  height: 70px;
  margin-top: 1.5rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  transition: all 0.2s;
}
.profile-img:hover{
  transform: scale(1.1);
}
/* .profile-icon{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: -8%;
  left: 21%;
} */
.sidebar-icons{
  color: #fff;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.s-i-sub{
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  transition: all 0.2s;
}
.s-i-sub:hover{
  transform: scale(1.1);
}
.icon-text{
  color: #727272;
  margin-top: 8px;
  font-size: 8px;
}
.head-style {
   font-weight: normal;
   padding: 0 1rem;
   text-align: center;
   margin-top: 8px;
   font-size: 12px;
}
.head-style>a{
  color: #DCDCDC;
}
.s-button{
  font-size: 10px;
  font-weight: bold;
  margin-top: 3rem;
  margin: auto;
  position: absolute;
  bottom: 2rem;
  right: 50%;
  transform: translate(50%, 20%);
}
.s-button:hover{
  padding: 0.58rem 1.62rem;
}
